@*
*@

@{
    ViewBag.Title = "Success";  
}

<div class="hero-unit">
    <h1>Success!</h1>
    <p class="lead">Your FixIt has been created!  The owner will fix it shortly.</p>
    <p><a href="/Tasks/Create" class="btn btn-primary btn-large">Create Another FixIt &raquo;</a></p>
    <p><a href="/Tasks/Status" class="btn btn-primary btn-large">Track progress on previous FixIt requests &raquo;</a></p>
</div>
