<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=hwdemo1hyd;AccountKey=yp4nhgfTDKZZrHP6+HcN7Kx9Q12OvSinULk1BxopC15MmbH/2BKnnvL9FQQo1E/Uu2XRXUl7SDFDxy65zRqbZg==" />
  </appSettings>
</configuration>