@*
*@

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Fix It!</h1>
    <p class="lead">
        Welcome to a simple sample app that demonstrates patterns that can be used
        to build scalable, reliable, applications using .NET and Windows Azure.
    </p>
    <p><a href="/Tasks/Create" class="btn btn-primary btn-large">Create a New FixIt &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Free Trial</h2>
        <p>
            Windows Azure provides a 30 day free trial that
            enables you to use $200 of free Windows Azure resources.
        </p>
        <p><a class="btn" href="http://www.windowsazure.com/en-us/pricing/free-trial/">Free Trial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>
            Visit the Windows Azure Development Center to learn more about how to build
            applications using Windows Azure.
        </p>
        <p><a class="btn" href="http://www.windowsazure.com/en-us/documentation/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download SDK</h2>
        <p>Download the .NET SDK for Windows Azure and get started building .NET applications using Visual Studio.</p>
        <p><a class="btn" href="http://www.windowsazure.com/en-us/downloads/?sdk=net">Download &raquo;</a></p>
    </div>
</div>